.track {
	align-items: center;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	position: relative;
	text-align: center;
	width: 100%;
}

.track:before {
	background-color: rgba(0, 0, 0, .4);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.track__content {
	position: relative;
	z-index: 1;
}

.track__name,
.track__artists {
	color: #F7F6F4;
	font-weight: normal;
	margin: 0
}

.track__image { margin-bottom: 1rem; }
.track__image img {
	height: auto;
	max-width: 100%;
}